#!/bin/bash
# packages hash: {{ include "dot_config/mise/config.toml" | sha256sum }}

mise_bin="$(command -v mise)"

if [ -x "$mise_bin" ]; then
  # Trust the directory where .mise.toml is located
  cd "$HOME/.config/mise" || exit 1
  "$mise_bin" trust . && \
  "$mise_bin" install
else
  echo "❌ mise not found in PATH. Please ensure it is installed." >&2
  exit 1
fi

